body {
    background: url('img/grid.png') 75% 0 #222;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
}
main {
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}

#content {
    border-style: solid;
    border-width: 75px;
    border-image: url(img/border.png) 125 stretch;
    box-sizing: border-box;
    margin: 3px 3px -5em;
    text-align: center;
}
#content h1 {
    display: inline-block;
    line-height: 1;
    margin: 0 -50px;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    transform: translate3D(0, 200%, 0.5px) scale(0.5);
    max-width: 50em;
    z-index: 5;
}
#content h1:before {
    background: url('img/heading-background.png') 50% 100% / 100% 100% no-repeat;
    content: '';
    height: 7em;
    left: 50%;
    position: absolute;
    top: -5rem;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 200%;
    z-index: -1;
}
#content h1:after {
    background: #222;
    border: solid 1px #fff;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
#content p {
    margin: 1rem -50px;
    text-align: justify;
    max-width: 50em;
}

#divider img {
    margin: 50% -12% -20%;
    transform: translateZ(-0.5px) scale(1.5) rotate(10deg);
    transform-origin: 50% 100%;
    width: 122%;
}

.orbit {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
}
.object {
    fill: #fff;
}
.object-outline {
    fill: #222;
    stroke: #fff;
    stroke-opacity: 0.6;
    stroke-width: 0.5px;
}
text {
    fill: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
}

@media (min-width: 20em) {
    text {
        font-size: 16px;
        transform: translate(0,8px);
    }
}
@media (min-width: 55em) {
    main {
        text-align: center;
    }
    #content {
        display: inline-block;
        margin: 1em auto -15em;
        padding-bottom: 5em;
    }
    #content p {
        margin: 1rem -1rem;
    }
}