body {
    background: #000;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    overflow: hidden;
}

main {
    position: absolute;
    top: 0;
}

article {
    background: rgba(0,0,0,0.6);
    max-height: 70vh;
    position: absolute;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    right: -100vw;
    top: 30vh;
    transition: opacity 0.5s;
    width: 100vw;
    max-width: 50rem;
}
article.open {
    opacity: 1;
    pointer-events: all;
}
#home {
    max-height: 100vh;
    top: 0;
}
article h1 {
    font-size: 1.7em;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0 0 2rem 0;
    padding: 1.5rem;
    position: relative;
    text-align: center;
}
article h1::before {
    background: #FF9800;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 152, 0,0)), to(rgba(255, 152, 0,0)), color-stop(50%, rgba(255, 152, 0,1)));
    bottom: -1px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}
article h1::after {
    background: #FF9800;
    bottom: 0;
    content: '';
    height: 0.5rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%,50%) rotate(45deg);
    width: 0.5rem;
}
.close {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 2vh;
    top: 32vh
}
article img {
    display: none;
    background: #bfbfbf;
    border-radius: 50%;
    float: left;
    height: 10rem;
    margin-left: -3em;
    padding: 5px;
    shape-outside: circle();
    shape-margin: 10px;
    width: 10rem;
}
article p {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 40rem;
}
article img[src="img/saturn.png"] {
    background: none;
    border-radius: 0;
    float: none;
    margin-left: -6.1em;
    padding: 0;
    width: 22.85em;
}
#saturn-img {
    float: left;
    margin-left: -3em;
    position: relative;
    shape-outside: polygon(0 0, 3em 0, 6em 1.5em, 8em 4em, 13em 7em, 15em 10em, 0 10em);
    padding: 5px;
}
#saturn-img::after {
    background: #bfbfbf;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10em;
    left: -3px;
    padding: 5px;
    position: absolute;
    top: -1px;
    width: 10em;
    z-index: -1;
}

svg {
    background: url('img/background3.jpg') 50% 50%;
    height: 100vh;
    transform-origin: 0 0;
    width: 100vw;
}
.label {
    fill:#bfbfbf;
    font-family: "Open Sans", sans-serif;
    font-size: 5px;
    letter-spacing: 1.5px;
    line-height: 1;
    opacity: 0.5;
    text-transform: uppercase;
}
#background {
    opacity: 0.7;
}
#planet-container {
    transform-origin: 0 50%;
}
.trajectory {
    transition: stroke-dasharray 5s;
    stroke-dasharray: 1.2,1.2;
}
.planet {
    transition: transform 0.5s linear;
}
.planet image {
    transition: transform 0.5s linear;
}
.planet text, .planet circle {
    transition: opacity 0.25s;
}
.focus {
    transform: translate(75px,10px) !important;
}
.focus image {
    transform: scale(2);
}
.focus text, .focus circle {
    opacity: 0;
}
#saturn.focus image {
    transform: scale(-2,2);
}

.planet:hover circle:first-of-type {
    fill: #444 !important;
}

@media (orientation:landscape) {
    svg {
        height: 100vw;
        transform: rotate(-90deg) translate(-100%,0);
        width: 100vh;
    }
    .planet g {
        transform: rotate(90deg);
    }
    #saturn image {
        transform: scale(1,1);
    }
    #saturn.focus image {
        transform: scale(2);
    }
    article {
        top: 50vh;
        transform: translate(0,-50%);
    }
    #home {
        max-height: 70vh;
        left: 50vw;
        right: auto;
        top: 50vh;
        transform: translate(-50%,-50%);
    }
    article p {
        text-align: justify;
    }
    .close {
        display: inline-block;
        float: right;
        cursor: pointer;
        position: static;
    }
}